/* styles.css */
body {
    background: #87439F;
    margin: 0;
    justify-content: center;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px; /* Ajuste o tamanho da fonte padrão aqui */
}

p {
    padding-left: 0.5%;
    padding-bottom: 103%;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

.Arvo {
    position: relative;
    font-family: "Arvo";
    margin: 0;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.branco {
    color: #fff;
}

.PS2P {
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 60px;
    position: relative;
    font-family: "Press Start 2P";
    font-size: 150%;
    margin: 0;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.roxo {
    color: #441156;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.categories {
    display: grid;
    max-width: 7-px;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1px; 
    justify-content: center;
    background-color: #5AE7A3;
    padding: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 10px;
}

/*.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    max-width: 50%; 
    padding: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
*/


.container {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 20px;
    height: 10%;
    max-width: 80%;
    justify-content: center;
    background-color: #5AE7A3;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.column {
    text-align: center;
}

.column img {
    width: 100%;
    height: auto;
}

.category {
    width: 150px;
    height: 150px;
    display: flex;
    margin: 39px; 
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    border-radius: 5px;
}

.category.herois {
    background: url('imagens/heroi.png');
    background-size: cover;
}

.category.comidas {
    background: url('imagens/i5.png');
    background-size: cover;
}

.category.animais {
    background: url('imagens/i1.png');
    background-size: cover;
}

.category.cantor {
    background: url('imagens/i6.png');
    background-size: cover;
}

.category.jogo {
    background: url('imagens/icone.png');
    background-size: cover;
}

.category.jogosnovos {
    background: url('imagens/iconegame.png');
    background-size: cover;
}

.category.maisacesssados {
    background: url('imagens/iconeacessados.png');
    background-size: cover;
}

.category.personalizacao {
    background: url('imagens/personalizacao.png');
    background-size: cover;
}

footer{
    padding-top: 50px;
}

/* Adicione outras classes de categoria conforme necessário */

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}
