/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body {
    background: #87439F;
    margin: 0;
    justify-content: center;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 96vh;
}

.paragrafo{
        padding-left: 0.5%;
        padding-bottom: 103%;
        justify-content: center;
        font-size: 30px;
        text-align: center; 
     }


.Arvo {
    position: relative;
    font-family: "Arvo";
    margin: 0;
    font-size: 20px;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.branco {
    color: #fff;
}

.PS2P {
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 60px;
    position: relative;
    font-family: "Press Start 2P";
    font-size: 150%;
    margin: 0;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.roxo {
    color: #441156;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.categories {
    display: grid;
    max-width: 7-px;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    justify-content: center;
    background-color: #5AE7A3;
    padding: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 10px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 0px; 
    max-width: 50%; 
    padding: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 1px;
    background-color: #87439F;
    height: 1%;
    max-width: 500x;
    justify-content: center;
    background-color: #5AE7A3;
    padding: 20px;
    padding-right: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.column {
    text-align: center;
    background-color:#5AE7A3;
}

.column img {
    width: 89px;
    height: auto;
}

.category {
    width: 120px;
    height: 120px;
    display: flex;
    margin: 30px;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    border-radius: 5px;
}

.category.herois {
    background: url('../../public/heroi.png');
    background-size: cover;
}

.category.comidas {
    background: url('../../public/i5.png');
    background-size: cover;
}

.category.animais {
    background: url('../../public/i1.png');
    background-size: cover;
}

.category.cantor {
    
    background: url('../../public/i6.png');
    background-size: cover;
}

/*
.category.personalizacao {
    background: url('../../public/heroi.png');
    background-size: cover;

}

.category.paises {
    background: url('../../public/i1.png');
    background-size: cover;
}*/

footer {
    justify-content: left;
    padding-top: 10px;
    display: flex;
}
.footer.img{
    position: left;
    width: 89px;
    height: auto;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 9fr;
        width: 70%;
    }

    footer {
        width: 50%;
        height: 50px;
        display: none;
    }

    .column img {
        display: none;
        width: 40px;
        height: auto;
    }
    .paragrafo{
        padding-left: 100px;
        font-size: 1px;
        padding-bottom: 20px;
        text-align: center; 
     }
     .categories {
        display: grid;
        max-width: 1-px;
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
        justify-content: center;
        padding: 50px;
        max-width: 90%;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 10px;
    
    }
    .container{
        max-width: 70%;
        background-color: #87439F;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 200px;
    }
    
 }
 