@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.side-left,
.side-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.PS2P {
  font-family: "Press Start 2P";
  font-size: 150%;
  text-align: center;
}

.game-screen {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.corpo {
  background-color: #ebbd05;
}

.side-left,
.side-right {
  width: 50%;
  height: 101.9%;
  padding-bottom: 10%;
  position: absolute;
  overflow: hidden;
}

.side-left {
  left: 0;
  background: linear-gradient(to bottom right, #87439f, #87439f);
}

.side-right {
  right: 0;
  background: linear-gradient(to bottom left, #5ae7a3, #5ae7a3);
}

.game-image {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  background-size: cover;
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 10px; /* Arredonda as bordas */
  background-color: #ccc; /* Cor de fundo de fallback caso a imagem não carregue ou como placeholder */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Adiciona uma sombra */
  object-fit: cover; /* Ajuste para 'cover' para preencher o contêiner mantendo a proporção */
}

.choose-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.verde{
  background-color: #5ae7a3;
}

.lilac{
  background-color: #87439f;
}